.design{
    background-color: aquamarine;
    margin: 2px;
   position: absolute;
   left: 0;
   right: 0;
   top: 720px;
   height: 100vh;
   width: 98%;

}
.headerDes{
    width: 60%;
   
    background-color: aquamarine;
    border-style: outset;
    margin: auto;
}
